@font-face {
    font-family: 'Ownglyph_wiseelist-Rg';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2501-1@1.1/Ownglyph_wiseelist-Rg.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
    margin: 0;
    padding: 0;
    font-family: 'Ownglyph_wiseelist-Rg', sans-serif;
    background-color: #f4f4f9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color : rgb(233, 233, 247)
}


.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.greeting{
    text-align : center;
    font-size : 5rem;
}

.content{
    display : flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-top : 10rem;
    width : 50rem;
}
.image-container {
    position: absolute;
    top : 50%;
    left : 50%;
    transform: translate(-50%, -50%);
    transition: left 0.5s ease-in-out;
    display : flex;
    justify-content: center;
    align-items: center;
}



.profile-pic {
    width: 440px;
    height: 440px;
    border-radius: 50%;
}

.additional-pic {
    width: 300px;
    height: 440px;
    border-radius: 10%; /* 원형 또는 사각형 설정 */
    margin-left: 20px; /* 메인 이미지와 간격 추가 */
    transition: opacity 0.5s ease-in-out; /* 부드러운 전환 효과 */
}

.text-container {
    width : auto;
    text-align: left;
    transition: margin-left 1s ease-in-out;
    line-height: 2rem;
}

.text-content {
    font-size: 1.5em;
    opacity: 1;
    transition: opacity 1s ease-in-out;
}

.navbar {
    margin-top: 20rem;
    display : flex;
    align-content: flex-end;
}

.nav-btn {
    font-family:'Ownglyph_wiseelist-Rg', sans-serif ;
    padding: 10px 20px;
    margin: 5px;
    border: none;
    background-color: transparent;
    color: black;
    font-size : 2rem;
    cursor: pointer;
}

.nav-btn:hover {
    color : rgb(102, 102, 233);
    scale : 1.1;
    transform:scale(1.1);
}